// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: absolute;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;
  height: $header-height;
}

.header {
  @include flex;

  &__nav {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__logo {
    margin: 30px auto 0;
  }

  &__contact {
    margin-right: 70px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-right: 30px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }

    a {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 12px;
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }
}

.header-cloned {
  position: fixed !important;
  height: initial !important;
  background: #404040;

  padding: 10px 0;

  opacity: 0;
  visibility: hidden;

  transition: $transition__component;

  .header__logo {
    margin: 0 auto;

    img {
      max-width: 45px;
    }
  }
}

.header-visible {
  opacity: 1;
  visibility: visible;
}
