// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: absolute;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;
  height: $header-height;
}

.header {
  @include flex;

  &__logo {
    margin: 30px auto 0;
  }

  &__contact {
    margin-right: 70px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-right: 30px;
    }

    a {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 12px;
      }
    }
  }
}
