// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  @include flex;

  &__logo {
    margin: 30px auto 0;
  }

  &__contact {
    margin-right: 70px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-right: 30px;
    }
  }
}
