// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    @include flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include breakpoint($breakpoint-laptop--large) {
        margin-right: 15px;
      }
    }
  }

  &__link {
    padding: 5px 0;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 12px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular;
    }

    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 2px;

      margin-top: 5px;

      background-color: #b11b1a;
      opacity: 0;

      transition: $transition__link;
    }

    @media (hover: hover) {
      &:hover::after {
        opacity: 1;
      }
    }
  }

  &--header {
  }

  &--footer {
    @include breakpoint($breakpoint-mobile--large) {
      .nav__list {
        display: flex;
        flex-direction: column;
      }

      .nav__item {
        margin-right: 0;

        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
    }
  }
}
