// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  color: $color-text__white;

  @include breakpoint($breakpoint-laptop--large) {
    font-size: 16px;
  }

  &__title {
    font-size: $font-size__title--large;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__title--large - 10;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--large - 20;
    }
  }
}
