.logo {
  &--header {
    .logo__image {
      max-width: 80px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 55px;
      }
    }
  }

  &--footer {
    .logo__image {
      max-width: 100px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 70px;
      }
    }
  }
}
