// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Manrope, sans-serif;
  font-size: $font-size__text--regular;
}

p {
  line-height: 140%;
}

h1,
h2,
h3,
h4 {
  font-family: DelaGothicOne, sans-serif;
  font-weight: $weight-Regular;

  letter-spacing: 0.1em;
  line-height: 120%;

  text-transform: uppercase;
}
