// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Manrope, sans-serif;
  font-size: $font-size__text--regular;
}

p {
  line-height: 140%;
}
