.form-callback {
  .row > div {
    &:not(:last-child) {
      margin-bottom: 45px;

      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 30px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 35px;
      }
    }
  }

  .form__action {
    margin-top: 100px;
    text-align: center;

    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 75px;
    }
  }
}
