// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  height: 100vh;

  @include breakpoint($breakpoint-mobile--large) {
    height: 680px;
  }

  .container {
    @include flex($justify: center);
    height: 100%;
  }
}

.hero {
  &__content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: max-content;

    transform: translate(-50%, -50%);

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      margin-top: 30px;
      padding: 0 15px;
    }
  }

  &__button {
    display: none;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
      margin: 50px auto 0;
    }
  }

  &__title {
    text-align: center;

    @include breakpoint($breakpoint-mobile--large) {
      text-align: left;
    }
  }

  &__text {
    @include flex($justify: center);
    margin-top: 45px;

    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  &__description {
    font-size: $font-size__text--large;
    font-weight: $weight-SemiBold;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--large - 3;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large - 6;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--small;
    }
  }

  &__video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.29) 45.32%,
          rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    video {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
