.portfolio {
  .row > div {
    display: flex;

    @media (hover: hover) {
      &:hover {
        .portfolio__logo {
          filter: none !important;
          transform: scale(1.15);
        }
      }
    }
  }

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto 100px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 75px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 60px;
    }
  }

  &__logo {
    margin: auto;

    backface-visibility: hidden;
    filter: grayscale(1) brightness(1000%);
    transition: $transition__component;

    &--no-brightness {
      filter: grayscale(1);
    }

    @include breakpoint($breakpoint-mobile--large) {
      transform: scale(0.7);
    }
  }

  &__action {
    text-align: center;
  }
}
