#step {
  @include breakpoint($breakpoint-laptop--large) {
    .section__heading {
      display: none;
    }
  }
}

.step {
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    width: 15%;

    text-align: center;

    &:first-child {
      @include breakpoint($breakpoint-mobile--large) {
        .step__line::after {
          top: 65%;
          height: 80%;
        }
      }
    }

    &:last-child {
      @include breakpoint($breakpoint-mobile--large) {
        .step__line::after {
          top: 0;
          height: 50%;
        }
      }
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;

      &:not(:last-child) {
        padding-bottom: 80px;
      }
    }
  }

  &__picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 130px;

    margin-bottom: 30px;

    @include breakpoint($breakpoint-laptop--large) {
      height: 110px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 15px;
    }
  }

  &__icon {
    position: relative;
    z-index: 2;

    @include breakpoint($breakpoint-mobile--large) {
      transform: scale(0.8);
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    min-height: 82px;

    font-size: $font-size__text--regular;
    line-height: 150%;

    @include breakpoint($breakpoint-laptop--large) {
      min-height: 63px;
      font-size: $font-size__text--small - 2;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      min-height: 85px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      min-height: initial;
      padding: 0 35px;
    }
  }

  &__line {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    @include breakpoint($breakpoint-mobile--large) {
      position: static;
    }

    &::after {
      content: "";

      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;

      display: block;
      width: 100%;
      height: 2px;

      transform: translate(-50%, -50%);

      background-color: $pallete-gray;

      @include breakpoint($breakpoint-mobile--large) {
        left: 18px;
        width: 2px;
        height: 100%;
      }
    }
  }

  &__circle {
    box-sizing: content-box;

    position: relative;
    z-index: 2;

    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: #616161;

    margin: 25px 0;

    border-radius: 50%;
    border: 6px solid $pallete-black;

    @include breakpoint($breakpoint-mobile--large) {
      position: absolute;
      top: 10px;
      left: 0;

      align-items: flex-start;
    }
  }

  &__description {
    font-size: $font-size__text--regular;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--small - 2;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }
}
