.slider {
  position: relative;
}

.swiper {
  &--overflow {
    overflow: initial;
  }

  &--mobile {
    @include breakpoint($breakpoint-mobile--large) {
      flex-wrap: nowrap;
      overflow: initial;
    }

    .swiper-wrapper {
      @include breakpoint($breakpoint-mobile--large) {
        flex-wrap: nowrap;
        margin: 0;
      }
    }

    .swiper-slide {
      @include breakpoint($breakpoint-mobile--large) {
        width: 100%;
        padding: 0;
      }
    }
  }
}
