.section {
  position: relative;

  &:not(:first-child) {
    margin-top: 120px;
    padding-top: 100px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-top: 70px;
      padding-top: 70px;
    }

    .container {
      position: relative;
    }
  }

  &__heading {
    position: relative;
  }

  &__title {
    position: absolute;
    top: 0;
    left: -80px;

    transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;

    color: $color-text__gray;

    @include breakpoint($breakpoint-laptop--large) {
      position: static;
      margin-bottom: 45px;
      transform: none;
    }

    &--large {
      position: static;
      margin-bottom: 80px;

      color: $color-text__white;
      font-size: $font-size__title--regular;

      transform: none;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: $font-size__title--regular - 10;
      }
    }

    &--center {
      text-align: center;
    }
  }
}
